header {
  background: $darkBlue;
  //   padding: 1rem 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.24);
  .accountBar {
    height: 1.8rem;
    margin: 0;
    padding: 0;
    background: #dddddd;
    display: none;
    @media screen and (min-width: 400px) {
      display: flex;
    }
    .act-menu {
      display: flex;
      margin: 2px;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: 1rem;
          padding: 0;
          /* top | right | bottom | left */
          margin: 0rem 0.5rem 0rem 0.5rem;
          display: block;
          color: $darkBlue;
        }
      }
      li:nth-child(2n) {
        border-left: 1px solid #a9a9a9;
        border-right: 1px solid #a9a9a9;
      }
    }
  }
  .logo {
    padding: 1rem;
    width: 150px;
    display: inline;
  }

  .topmenu {
    padding: 1rem;
    margin: 0;

    display: none;

    @media screen and (min-width: 800px) {
      display: flex;
    }
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: 0.2rem 0.5rem;
        margin: 0.5rem;
        display: block;
        color: $darkBlue;
        background-color: $blue;
        border-radius: 12%;
      }
      a :hover {
        color: $blue;
        background-color: $darkBlue;
      }
    }
  }
}
.searchBox {
  padding: 1rem;
}
